@import url('../../vars.css');

.about-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.about-content{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.content-text-section{
  display: flex;
  flex-direction: column;
  width: 62.5rem;
}

.content-title{
  font-family: var(--title-font);
  font-size: 10.1rem;
  font-weight: bold;
}

.content-text{
  font-family: var(--text-font);
  font-size: 3.6rem;
  span{
    color: var(--primary-color);
    font-weight: bold;
  }
}

.socialmedias{
  display: flex;
  margin-top: 1.7rem;
  width: 100%;
  gap: 1.7rem;
  img{
    width: 5rem;
    height: 5rem;
  }
}

.technologies{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  & .techonologies-title{
    font-size: 3.8rem;
    font-family: var(--title-font);
    font-weight: bold;

    margin-top: 2.3rem;
  }
}

.monkey{
  position: fixed;
  top: 0;
  left: 0;
}


img{
  width: 75rem;
  height: 75rem;
}