@import url('../../vars.css');

.home-container{
  background-color: lightblue;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main{
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;

  img{
    width: 50rem;
    height: 50rem;
  }
}

.text-section{
  width: 50%;
  font-family: var(--title-font);
}

.text-section-title{
  font-size: 10.1rem;
  font-weight: bold;
  span{
    color: var(--primary-color);
  }
}
.text-section-subtitle{
  font-size: 2.4rem;
  font-family: var(--text-font);
  margin-top: 3.8rem;
}