:root{
  /* Colors */
  --bg-color: #ECEAEA;
  --black: #111111;
  --white: #FFFFFF;

  --primary-color: #154036;
  --secondary-color: #265942;
  --tertiary-color: #D9D9D9;

  /* Fonts */
  --title-font: "DM Sans", sans-serif;
  --text-font: "Ubuntu", sans-serif;

  /*Sizes*/
  --title-size: 8rem;
  --subtitle-size: 3.8rem;
  --text-size: 3rem;
}